*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}
body {
  font-family: cursive;
  margin: 0;/*AjustarMargenHeaderEsquinas*/
  background-color: #fff;
}
header{
position: absolute;
width: 100%;
top: 0;
left:0;  
background-color: #000000;/*ColorFondo*/
height: 150px;
}
.company-name{
color: #F7D917;
align-items: center;
justify-content: center;
padding: 25px 45px;
}
.cart-shopping a{
  color: #F7D917;
  display: flex;
  position: absolute;
  left: 1150px;
  top: 55px;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}
.cart-shopping a:hover{
  color:#3b8132;
}
.user a{
  color: #F7D917;
  display: flex;
  position: absolute;
  left: 1200px;
  top: 55px;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}
.user a:hover{
  color:#3b8132;
}
.search{
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 26%;
  background: white;
  padding: 1%;
  height: 30px;
  border-radius: 40px;
  width: 31%;  
}
.search-text{
  border: none;
  background: none;
  outline: none;
  color:#000000;
  font-size: 15px;
  width: 328px;
}
 .logo{
display: flex;
align-items: center;
}
.logo img{
 height: 100px;
 justify-content: left;
}
.menu{
  padding:15px 0px;
  position: relative;/*paque no se vaya pa otra lado*/
  list-style: none;
  width: max-content;
  margin: auto;
  align-items: center;
}
.menu li a {
  text-decoration: white;
  color: #F7D917;
  padding: 0px 35px;
  display: inline-block;
}
.menu li{
display: inline-block;
text-align: center;
justify-content: space-between;
}
.menu li a:hover{
background-color:#3b8132;
transition: all .3s;
border-radius: 5px;

}
.vertical-menu {
  position:absolute;/*que respete el tamaño padre (menu)*/
  display: none;
  list-style: none;
  width: 10px;
  background-color: none;
  padding: 0px 0px;
  font-size: 15px;
}
.menu li:hover .vertical-menu{
  display:block;
}
.vertical-menu li a{
background-color: #000000;
display: block;
padding: 0px 40px;
width: 165px;
height: 30px;
}
.vertical-menu li ul li a{
  position:relative;
  background-color: #000000;
}
.vertical-menu li ul li a{
  display: none;
}
.vertical-menu li:hover ul li a{
  display: block;
}
.vertical-menu li:hover li ul li a{
  display: block;
}
.vertical-menu li a{
  right: -160px;
  top: 0px;
}
@media (max-width: 910px ){
  header{
    flex-direction: column;
  }
}
    button{
      font-size:0.5em;
      font-weight: bold;
      padding: 5px 15px;
      border-radius: 15px;
      border: 1px solid #000000;
      box-shadow: 2px 2px 10px #000000;
      color: #F7D917;
      background-color: #276221;
    }
    button:hover{
      background-color: #3b8132;
    }
    .search a{
      color:#F7D917;
    }
.container {
  width: 100%;
  height: 90vh;
  background-color: #000000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #1abc9c;
  position: relative;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  
}

.contact-info .title {
  color: #1abc9c;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }


  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
.footer{
  padding: 1px 30px;
  display: flex;
  flex-wrap:wrap;/*una debajo de otra, para que se adapten*/
  justify-content: space-between;
  width: 1482px;
  
  height: 170px;
  background-color:#000000;
}
.box_footer{
  display: flex;
  flex-direction: column;

}
.box_footer p{
  font-size: 30px;
  padding: 50px;
  color: #F7D917;
}
.box_footer h2{
align-items: center;
text-align: center;
margin-bottom: 10px;
color: #F7D917;
}
.box_footer a{
  margin-bottom: 1px;
  color:#F7D917;
  list-style: none;
  border-radius: 1px;
  text-decoration: none;
  font-size: 15px;
  
}
.box_footer a:hover{
  color: #3b8132;
}
.box_footer a .fa-brands{
  font-size: 20px;
  color:aqua;
}
.box_copyright{
  color: #F7D917;
  max-width: 1485px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}
.box_copyright p{
  margin-top: 1px;
}
.box_copyright hr{
  background-color: #F7D917;
  border: none;
  height: 2px;
}